/* Custom styles for CofCoder */

/* Root variables */
:root {
  --main: {
    color: #00acff;
  }
  --base: {
    color: #59ddff;
  }
  --accent1: {
    color: #ff0066;
  }
  --accent2: {
    color: #ffcb00;
  }
  --dark: {
    color: #010033;
  }
  --white: {
    color: #ffffff;
  }
}

/* html overrides */
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background: var(--main, #00acff);
  color: var(--dark, #010033);
}
